nav {
  font-family: 'Bitter', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ACB2D8;
  display: flex;
  justify-content: flex-end;
  background-image: url("../img/sleepmood.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-top: -18px;
  padding: 2px;
  opacity: 1;
  z-index: 10;
  border-bottom: 1px solid #776D4B;
}
@media (max-width:800px) {
  nav {
    padding-top: 1%;
  }
}
@media only screen and (max-width: 500px) {
  nav {
    width: 100%;
    margin-top: auto;
    padding: 2px;
    display: flex;
    position: static;
    flex-direction: column;
    border-bottom: 0;
  }
}
nav a {
  font-size: 1.6rem;
  margin: 1.5% 0 0.3% 1%;
  padding-left: 5%;
  padding-right: 2%;
  text-decoration: none;
  color: #EDEBE3;
}
@media only screen and (max-width: 500px) {
  nav a {
    width: 90%;
    font-size: 3rem;
    text-align: center;
    margin-left: 5%;
    margin-right: 0;
    padding-bottom: 2%;
    border-bottom: 2px solid #776D4B;
  }
}
nav a:hover {
  color: #868EC6;
}
footer {
  background-color: #14162A;
  padding-bottom: 2%;
  text-align: center;
}
footer p {
  font-size: 1.5rem;
  color: #EDEBE3;
  text-align: center;
  margin-left: 1%;
}
footer i {
  font-size: 2rem;
  color: #B5B7C5;
  margin-left: 1%;
}
* {
  box-sizing: border-box;
  height: auto;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../img/sleepmood.jpg");
  background-attachment: fixed;
  background-size: cover;
  animation-name: fade-in;
  animation-duration: 3s;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bitter', sans-serif;
}
#home header {
  width: 90%;
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
  border-bottom: 2px solid #776D4B;
}
@media (max-width:800px) {
  #home header {
    border-bottom: none;
    padding: 3% 0;
  }
}
@media (max-width:500px) {
  #home header {
    border-bottom: none;
    padding-bottom: 4%;
  }
}
#home header img {
  width: 20%;
}
@media (max-width:800px) {
  #home header img {
    width: 40%;
  }
}
@media (max-width:500px) {
  #home header img {
    width: 70%;
  }
}
#home header p {
  color: #EDEBE3;
  font-size: 2.5rem;
  margin-bottom: 4%;
}
.main-content {
  width: 90%;
  margin: 2% 5%;
}
.main-content button {
  margin-top: 8%;
}
.main-content .dwnld-btn {
  padding: 1.5% 12%;
  margin-bottom: 2%;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px ;
  background-color: #B07568;
  border: none;
}
@media (max-width:500px) {
  .main-content .dwnld-btn {
    padding: 2.5% 14%;
    margin-bottom: 4%;
  }
}
.main-content .dwnld-btn a {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #14162A;
}
@media (max-width:500px) {
  .main-content .dwnld-btn a {
    font-size: 1.8rem;
  }
}
.main-content .dwnld-btn:hover {
  background-color: #ACB2D8;
}
.main-content .content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width:500px) {
  .main-content .content-section body {
    width: 100%;
  }
}
.main-content .content-section .text-content {
  width: 45%;
  text-align: center;
  padding: 0 3%;
  margin: 4% 1% 2% 0;
  line-height: 2;
  border-radius: 10px;
}
@media (max-width:800px) {
  .main-content .content-section .text-content {
    width: 90%;
  }
}
@media (max-width:500px) {
  .main-content .content-section .text-content {
    width: 90%;
  }
}
.main-content .content-section .text-content .img-content {
  width: 45%;
}
.main-content .content-section .text-content h2 {
  color: #EDEBE3;
  font-size: 3.2rem;
  margin-bottom: 10%;
}
.main-content .content-section .text-content p {
  color: #EDEBE3;
  font-size: 2rem;
}
.main-content .normal-content {
  background: #14162A;
  border-radius: 10px;
  height: 40%;
  box-shadow: 0 0 8px 1px #776D4B;
}
.main-content .tent {
  width: 400px;
  height: 90%;
  margin-top: 7%;
  padding-bottom: 0;
  border-radius: 5px;
}
@media (max-width:800px) {
  .main-content .tent {
    height: 70%;
  }
}
@media (max-width:500px) {
  .main-content .tent {
    display: none;
  }
}
.main-content .inverse-content {
  background: #14162A;
  border-radius: 10px;
  margin-bottom: 3%;
  justify-content: space-around;
  box-shadow: 0 0 8px 1px #776D4B;
}
@media (max-width:500px) {
  .main-content .inverse-content {
    flex-direction: column-reverse;
    margin-bottom: 10%;
  }
}
.main-content .inverse-content .text-content {
  margin-top: 4%;
}
@media (max-width:800px) {
  .main-content .inverse-content .text-content {
    padding-bottom: 8%;
  }
}
@media (max-width:500px) {
  .main-content .inverse-content .text-content {
    margin-left: 4%;
  }
}
.main-content .inverse-content .text-content p {
  font-size: 2rem;
}
.main-content .inverse-content .img-content {
  width: 45%;
  padding-right: 0;
}
@media (max-width:800px) {
  .main-content .inverse-content .img-content {
    width: auto;
    margin-right: 9%;
  }
}
@media (max-width:500px) {
  .main-content .inverse-content .img-content {
    width: 100%;
  }
}
.main-content .inverse-content .graph_image {
  width: 100%;
  margin: 5%;
  opacity: 0.68;
  border-radius: 20px;
}
@media (max-width:800px) {
  .main-content .inverse-content .graph_image {
    padding-top: 5%;
  }
}
@media (max-width:500px) {
  .main-content .inverse-content .graph_image {
    width: 90%;
    margin-right: 5%;
    padding: 0;
    padding-bottom: 9%;
  }
}
.main-content .bottom-header h2 {
  color: #EDEBE3;
  text-align: center;
  font-size: 3rem;
  margin-top: 5%;
}
.main-content .onBoarding {
  margin-bottom: 2%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width:500px) {
  .main-content .onBoarding {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.main-content .onBoarding .destination {
  width: 25%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width:500px) {
  .main-content .onBoarding .destination {
    width: 90%;
  }
}
.main-content .onBoarding .destination h4 {
  color: #EDEBE3;
  font-size: 2.4rem;
  margin-bottom: 10%;
}
@media (max-width:500px) {
  .main-content .onBoarding .destination h4 {
    margin-bottom: 5%;
    font-size: 2.4;
  }
}
.main-content .onBoarding .destination p {
  color: #EDEBE3;
  font-size: 2rem;
  line-height: 1.6;
}
.main-content .onBoarding .destination .w3-border {
  margin: 20% 0;
  background-color: #F4F4F6;
  border-radius: 10px;
}
.main-content .onBoarding .destination .w3-1 {
  background-color: #776D4B;
  border: 1px;
  size: 1px;
  border-radius: 10px;
}
.review-header {
  border-top: 2px solid #776D4B;
  width: 90%;
  margin-left: 5%;
}
@media (max-width:800px) {
  .review-header {
    border-top: none;
    padding-top: 3%;
  }
}
@media (max-width:500px) {
  .review-header {
    border-top: none;
  }
}
.review-header h3 {
  font-size: 3.2rem;
  color: #EDEBE3;
  text-align: center;
  margin-top: 3%;
}
.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.reviews .testimonials {
  color: #EDEBE3;
}
@media (max-width:500px) {
  .reviews .testimonials {
    background-color: #14162A;
  }
}
.reviews .testimonials h4 {
  color: #ACB2D8;
  font-size: 2.6rem;
  text-align: center;
}
.reviews .testimonials p {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  height: 50%;
  text-shadow: #ACB2D8 1px 0 20px;
}
@media (max-width:800px) {
  .reviews .testimonials p {
    width: 90%;
    margin-left: 3%;
  }
}
@media (max-width:500px) {
  .reviews .testimonials p {
    width: 95%;
    margin-left: 2%;
  }
}
#contact {
  width: 100%;
  background-color: #14162A;
  text-align: center;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}
#contact img {
  margin-top: 3%;
  width: 12%;
}
@media (max-width:500px) {
  #contact img {
    width: 30%;
  }
}
#contact .signup-btn {
  margin: 2% 1% 5% 2%;
  padding: 0.7% 3%;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  background-color: #B07568;
  border: none;
}
@media (max-width:500px) {
  #contact .signup-btn {
    padding: 2% 15%;
  }
}
#contact .signup-btn a {
  color: #191D37;
  text-decoration: none;
  font-size: 2rem;
}
#contact .signup-btn:hover {
  background-color: #ACB2D8;
}
#contact .message-btn {
  padding: 0.7% 4%;
  margin-left: 4%;
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: #B07568;
  border-radius: 5px;
}
@media (max-width:500px) {
  #contact .message-btn {
    display: none;
  }
}
#contact .message-btn a {
  color: #14162A;
  text-decoration: none;
  font-size: 2rem;
}
#contact .message-btn:hover {
  background-color: #ACB2D8;
}
/**************** ABOUT PAGE *******************/
header h1 {
  color: #EDEBE3;
  font-size: 6rem;
}
.a-content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #EDEBE3;
  font-size: 1.6rem;
}
.a-content-section .img-text-content {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}
.a-content-section .img-text-content img {
  border-radius: 15px;
  object-fit: cover;
  border: 2px solid #ACB2D8;
}
.a-content-section .img-text-content i {
  font-size: 2rem;
  color: #B5B7C5;
}
@media (max-width:500px) {
  .a-content-section p {
    font-size: 2rem;
  }
  .a-content-section img {
    max-width: 100%;
  }
}
@keyframes fade-in {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
