/* @font-color:
@button-bg: 
@main-bg: 
@navigation-border:
@footer-bg: 

font-family: 'Roboto', sans-serif;
font-family: 'Bitter', serif;

*/


* {
	background-color: #868EC6; 
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

html {
	font-size: 10px;
}
nav {
	
	background-color: #1a1c39;
	display: flex;
	border-bottom: 2px solid darkgray;
	padding: 10px;
	font-family: 'Bitter', serif;
}

nav a{
	background-color: #1a1c39;
	color: #DADBE2;
	text-decoration: none;
	text-align:center;
	font-size: 1.5rem;
	
}
h1 {
	font-family: 'Bitter', serif;
	text-align: center;
	font-size: 5rem;
	margin-top: 0;
	color:#2C325E;
}

.moon-icon {
	font-size: 10rem;
	color: #3C3625;
	
}
.slogan {
	display: flex;
	width: 70%;
	margin:0 15% 0 15%;
	text-align: center;
	font-size: 1.6rem;
	color: #432923;
}
.container {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
 .main-content {
	display: flex;
	
	justify-content: center;
	
 }
 header {
	 width: 100%;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 text-align: center;
	 
 }


img {
	border-radius: 5%;
}

h2 {
	font-size: 3rem;
}

p{
	font-size: 1.6rem;
}




.icons{
	padding-top:3%;
	display: flex;
	justify-content: center;
}
.icons a {	
   text-decoration: none;
}

.copyright{
	text-align: center;
}