* {
  box-sizing: border-box;
  height: auto;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../img/sleepmood.jpg");
  background-attachment: fixed;
  background-size: cover;
  animation-name: fade-in;
  animation-duration: 3s;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bitter', sans-serif;
}
#home nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  margin-top: -10px;
}
@media only screen and (max-width: 500px) {
  #home nav {
    width: 100%;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
  }
}
#home nav a {
  font-size: 1.4rem;
  margin: 1.5% 2% 0.3% 1%;
  padding-left: 5%;
  text-decoration: none;
  color: #EDEBE3;
}
@media only screen and (max-width: 500px) {
  #home nav a {
    width: 90%;
    font-size: 3rem;
    text-align: center;
    margin-left: 5%;
    margin-right: 0;
    padding-bottom: 2%;
    border-bottom: 1px solid #868EC6;
  }
}
#home nav a:hover {
  color: #868EC6;
}
#home header {
  width: 90%;
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
  border-bottom: 1px solid #868EC6;
}
#home header .header-img {
  font-size: 8rem;
  color: #868EC6;
  margin-bottom: 0;
}
#home header .header-img:hover {
  color: #B07568;
}
#home header h1 {
  color: #868EC6;
  font-size: 5rem;
  margin-bottom: 1%;
}
#home header p {
  color: #868EC6;
  font-size: 1.3rem;
  margin-bottom: 4%;
}
#home header .dwnld-btn {
  padding: 0.5% 3% 0.5% 3%;
  margin-bottom: 2%;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  background-color: #B07568;
}
@media only screen and (max-width: 500px) {
  #home header .dwnld-btn {
    padding: 2% 6% 2% 6%;
    margin-bottom: 4%;
  }
}
#home header .dwnld-btn a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #191D37;
}
@media only screen and (max-width: 500px) {
  #home header .dwnld-btn a {
    font-size: 1.6rem;
  }
}
#home header .dwnld-btn:hover {
  background-color: #868EC6;
}
.main-content {
  width: 90%;
  margin: 0 5% 0 5%;
}
.main-content .content-section {
  width: 90%;
  margin: 4% 0 4% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media only screen and (max-width: 500px) {
  .main-content .content-section body {
    width: 100%;
  }
}
.main-content .content-section .text-content {
  width: 45%;
  margin: 1% 1% 2% 0;
  line-height: 2;
}
@media only screen and (max-width: 500px) {
  .main-content .content-section .text-content {
    width: 90%;
  }
}
.main-content .content-section .text-content h2 {
  color: #EDEBE3;
  font-size: 2.4rem;
  margin-bottom: 10%;
}
.main-content .content-section .text-content p {
  color: #EDEBE3;
  font-size: 1.6rem;
}
.main-content .content-section .text-content li {
  margin-left: 10%;
  color: #EDEBE3;
  font-size: 2rem;
  line-height: 2.5;
}
@media only screen and (max-width: 500px) {
  .main-content .content-section .text-content li {
    margin-left: 0;
  }
}
@media only screen and (max-width: 500px) {
  .main-content .tent {
    display: none;
  }
}
.main-content .inverse-content {
  border-bottom: 1px solid #868EC6;
  margin-bottom: 3%;
}
@media only screen and (max-width: 500px) {
  .main-content .inverse-content {
    order: 1;
  }
}
.main-content .inverse-content .img-content {
  padding-right: 0;
}
.main-content .inverse-content .graph_image {
  width: 60%;
  opacity: 0.68;
  border-radius: 20px;
}
@media only screen and (max-width: 500px) {
  .main-content .inverse-content .graph_image {
    width: 91%;
    order: 2;
  }
}
.main-content .bottom-header h2 {
  color: #B07568;
  text-align: center;
  font-size: 2.8rem;
}
.main-content .onBoarding {
  margin-bottom: 5%;
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 500px) {
  .main-content .onBoarding {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.main-content .onBoarding .destination {
  width: 25%;
  line-height: 1.5;
}
@media only screen and (max-width: 500px) {
  .main-content .onBoarding .destination {
    width: 90%;
  }
}
.main-content .onBoarding .destination h4 {
  color: #EDEBE3;
  font-size: 2rem;
  margin-bottom: 30%;
}
@media only screen and (max-width: 500px) {
  .main-content .onBoarding .destination h4 {
    margin-bottom: 5%;
    font-size: 2.4;
  }
}
.main-content .onBoarding .destination p {
  color: #EDEBE3;
  font-size: 1.6rem;
  line-height: 1.6;
}
.main-content .onBoarding .destination .w3-border {
  background-color: #F4F4F6;
  border-radius: 5px;
}
.main-content .onBoarding .destination .w3-1 {
  background-color: #786D4B;
  border: 1px;
  size: 1px;
  border-radius: 5px;
}
.contact {
  width: 100%;
  background-color: #14162A;
  text-align: center;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}
.contact h4 {
  color: #EDEBE3;
  margin-top: 5%;
  font-size: 2.5rem;
  margin-bottom: 2%;
}
.contact .signup-btn {
  margin: 2% 1% 5% 2%;
  padding: 0.5% 2% 0.5% 2%;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  background-color: #B07568;
}
.contact .signup-btn a {
  color: #191D37;
  text-decoration: none;
  font-size: 1.2rem;
}
.contact .signup-btn:hover {
  background-color: #868EC6;
}
.contact .message-btn {
  padding: 0.6% 1% 0.5% 1.1%;
  margin-left: 4%;
  font-family: 'Roboto', sans-serif;
  background-color: #B07568;
  border-radius: 5px;
}
.contact .message-btn a {
  color: #191D37;
  text-decoration: none;
}
.contact .message-btn:hover {
  background-color: #868EC6;
}
footer {
  background-color: #14162A;
  padding-bottom: 2%;
  text-align: center;
}
footer p {
  font-size: 1.5rem;
  color: #EDEBE3;
  text-align: center;
}
footer i {
  font-size: 2rem;
  color: #B5B7C5;
  margin-left: 1%;
}
@keyframes fade-in {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
