  footer{
    width:100%;
    background-color: #14162A;
    padding-bottom: 2%;
    text-align:center;
    
    p{
      font-size: 1.5rem;
      color: #EDEBE3;
      text-align:center;
      
    }

        i{
            font-size: 2rem;
            color: #B5B7C5;
            margin-left:1%;
            
          }
  }// closes footer
  